@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&family=Roboto&display=swap");
/* Center content flexibly */
/* Truncate text for product cards */
/* Media query */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header-title {
  color: #db4444;
  font-weight: 700;
}
.header-title .before {
  background-color: #db4444;
  width: 12px;
  border-radius: 3px;
  height: 30px;
}

.arrow span {
  background-color: #eee;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.arrow span:hover {
  opacity: 0.8;
}

.mainBtn {
  background-color: #db4444;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.mainBtn:hover {
  background-color: #db4444;
  color: #fff;
  opacity: 0.9;
}

.product .card,
.flash-prd .card {
  border: none !important;
}
.product .card .image,
.flash-prd .card .image {
  height: 17rem;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 5px;
}
.product .card .image .card-img-top,
.flash-prd .card .image .card-img-top {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15.5rem;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.product .card .image .card-img-top.disable,
.flash-prd .card .image .card-img-top.disable {
  opacity: 0.5;
}
.product .card .image .card-img-top.visible,
.flash-prd .card .image .card-img-top.visible {
  opacity: 1;
}
.product .card .image .card-img-top:hover,
.flash-prd .card .image .card-img-top:hover {
  padding: 2rem !important;
}
.product .card .image .discount,
.flash-prd .card .image .discount {
  color: #fff;
  background-color: #db4444;
  border-radius: 5px;
  left: 4%;
  top: 4%;
}
.product .card .image .outils,
.flash-prd .card .image .outils {
  cursor: pointer;
  top: 4%;
  right: 4%;
}
.product .card .image .outils span,
.flash-prd .card .image .outils span {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.product .card .image .outils .heart,
.product .card .image .outils .visibility,
.flash-prd .card .image .outils .heart,
.flash-prd .card .image .outils .visibility {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .card .image .outils .heart .empty,
.flash-prd .card .image .outils .heart .empty {
  color: #000 !important;
}
.product .card .image .outils .heart .empty:hover,
.flash-prd .card .image .outils .heart .empty:hover {
  color: red !important;
}
.product .card .image .outils .heart .fill,
.flash-prd .card .image .outils .heart .fill {
  color: red;
}
.product .card .image .addCart,
.flash-prd .card .image .addCart {
  background-color: #000;
  border-radius: 0px !important;
  color: #fff;
  bottom: 0%;
  left: 0%;
  transform: translateY(100%);
  display: none;
  cursor: pointer;
}
.product .card .image:hover .addCart,
.flash-prd .card .image:hover .addCart {
  display: block;
  transform: translateY(0%);
}
.product .card .card-body .card-title,
.flash-prd .card .card-body .card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product .card .card-body .card-price span,
.flash-prd .card .card-body .card-price span {
  color: #db4444;
}
.product .card .card-body .card-price del,
.flash-prd .card .card-body .card-price del {
  color: #aaa;
}
.product .card .card-body .card-rate span,
.flash-prd .card .card-body .card-rate span {
  color: #ffad33;
}
.product .card .card-body .card-rate .rating,
.flash-prd .card .card-body .card-rate .rating {
  color: #aaa;
}
.product .card .card-body .colors span,
.flash-prd .card .card-body .colors span {
  cursor: pointer;
  display: inline-block;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 0.1s linear;
}
.product .card .card-body .colors span:hover,
.flash-prd .card .card-body .colors span:hover {
  border: 1px solid black;
}
.product .card .card-body .colors .sec,
.flash-prd .card .card-body .colors .sec {
  background-color: green;
}

.download {
  cursor: pointer;
  border: 1.5px solid #fafafa;
  border-radius: 10px;
  color: #fff;
}
.download .title {
  opacity: 0.9;
}

.service .icon {
  background-color: #000;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid #aaa;
}
.service .desc {
  font-weight: 500;
}

.service.animate {
  cursor: pointer;
  transition: 0.4s linear;
}
.service.animate .icon {
  background-color: #000;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid #ddd;
}
.service.animate .desc {
  font-weight: 500;
  transition: 0.4s linear;
}
.service.animate:hover {
  background-color: #db4444;
  color: #fff !important;
}
.service.animate:hover .icon {
  background-color: #fff;
  color: #000;
  border: 8px solid rgba(221, 221, 221, 0.5137254902);
}
.service.animate:hover .desc {
  color: #fff;
}

.form-control.mainInput {
  border: none;
  border-bottom: 1.8px solid #aaa;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.568627451);
  font-weight: 500;
}
.form-control.mainInput:focus {
  box-shadow: none;
  border-color: #aaa;
}
.form-control.mainInput::-moz-placeholder {
  text-transform: capitalize;
  font-weight: 500;
  color: #000;
  opacity: 0.6;
  margin-left: 0;
}
.form-control.mainInput::placeholder {
  text-transform: capitalize;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5019607843);
}

.navbar-discount {
  background-color: #000000;
}
.navbar-discount .disc-title {
  color: rgba(250, 250, 250, 0.7803921569);
}
.navbar-discount .disc-lang {
  color: rgba(255, 255, 255, 0.8980392157);
  opacity: 1;
  cursor: pointer;
}
.navbar-discount .disc-lang:hover {
  opacity: 0.9;
}

.navbar {
  border-bottom: 1.5px solid #ddd;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar .navbar-collapse .search-form .form-outline {
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
}
.navbar .navbar-collapse .search-form .form-outline input {
  background-color: #f5f5f5;
  border: none;
}
.navbar .navbar-collapse .search-form .form-outline input:focus {
  box-shadow: none;
}
.navbar .navbar-collapse .search-form .buttons span {
  cursor: pointer;
}
.navbar .navbar-collapse .search-form .buttons .like svg {
  font-size: 19px;
}
.navbar .navbar-collapse .search-form .buttons .like svg:hover {
  color: red;
}
.navbar .navbar-collapse .search-form .buttons .cart svg {
  font-size: 19px;
}
.navbar .navbar-collapse .search-form .buttons .cart svg:hover {
  color: rgb(0, 89, 255);
}

.home .aside {
  border-right: 1.5px solid #ddd;
}
.home .aside .aside-item {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
}
.home .aside .aside-item:hover {
  opacity: 0.8;
}
.home .aside .aside-item .angle {
  right: 25%;
}

@media (min-width: 0px) {
  .home .image .mySwiper .swiper-slide {
    height: 220px;
  }
  .home .image .mySwiper .swiper-slide img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .home .image .mySwiper .swiper-slide {
    height: 344px;
  }
  .home .image .mySwiper .swiper-slide img {
    max-width: 100%;
    height: auto;
  }
}
.category-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.category-filter .filter-btn {
  background: transparent;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #6c757d;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.category-filter .filter-btn:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.category-filter .filter-btn:active {
  transform: translateY(1px);
}
.category-filter .filter-btn.active {
  background-color: #000;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 576px) {
  .category-filter {
    gap: 0.5rem;
  }
  .category-filter .filter-btn {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
  }
}

.flash .timing .time .days::before {
  content: "Days";
  position: absolute;
  top: -15%;
  left: 6%;
  font-size: 11px;
}
.flash .timing .time .days::before {
  content: "Days";
  position: absolute;
  top: -15%;
  left: 6%;
  font-size: 11px;
}
.flash .timing .time .hours::before {
  content: "Hours";
  position: absolute;
  top: -15%;
  left: 6%;
  font-size: 11px;
}
.flash .timing .time .minutes::before {
  content: "Minutes";
  position: absolute;
  top: -15%;
  left: 6%;
  font-size: 11px;
}
.flash .timing .time .seconds::before {
  content: "Seconds";
  position: absolute;
  top: -15%;
  left: 6%;
  font-size: 11px;
}

.box {
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  transition: 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box:hover {
  background-color: #db4444;
  color: #fff;
}
.box.active {
  background-color: #db4444;
  color: #fff;
}

.swiperImage .image {
  height: 500px;
  width: 100%;
}
.swiperImage .image img {
  width: 100%;
  height: 100%;
}
.swiperImage .image .categories {
  color: #00ff66;
  top: 15%;
  left: 5%;
}
.swiperImage .image .center {
  top: 25%;
  left: 5%;
}
.swiperImage .image .center .desc {
  color: white;
}
.swiperImage .image .center ul li {
  background-color: #fff;
  font-size: 9px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: bold;
}
.swiperImage .butt {
  bottom: 23%;
  left: 5%;
}

@media (min-width: 0) {
  .arrivals .arrival-image.img-1 {
    height: 40vh;
  }
}
@media (min-width: 768px) {
  .arrivals .arrival-image.img-1 {
    height: 62vh;
  }
}
@media (min-width: 1200px) {
  .arrivals .arrival-image.img-1 {
    height: 70vh;
  }
}
.arrivals .arrival-image.img-1 img {
  height: 100%;
  width: 100%;
}
.arrivals .second {
  margin-bottom: 2vh;
}
@media (min-width: 0) {
  .arrivals .second .arrival-image.img-2 {
    height: 25vh;
  }
}
@media (min-width: 768px) {
  .arrivals .second .arrival-image.img-2 {
    height: 30vh;
  }
}
@media (min-width: 1200px) {
  .arrivals .second .arrival-image.img-2 {
    height: 34vh;
  }
}
.arrivals .second .arrival-image.img-2 img {
  height: 100%;
  width: 100%;
}
@media (min-width: 0) {
  .arrivals .three {
    height: 25vh;
  }
}
@media (min-width: 768px) {
  .arrivals .three {
    height: 30vh;
  }
}
@media (min-width: 1200px) {
  .arrivals .three {
    height: 34vh;
  }
}
.arrivals .three .arrival-image.img-3, .arrivals .three .arrival-image.img-4 {
  height: 100%;
}
.arrivals .three .arrival-image.img-3 img, .arrivals .three .arrival-image.img-4 img {
  height: 100%;
  width: 100%;
}

.footer {
  background-color: #000;
  color: #fff;
}
.footer ul li {
  cursor: pointer;
  text-transform: capitalize;
}
.footer ul li:not(:first-of-type):hover {
  opacity: 0.85;
}
.footer .socials span {
  cursor: pointer;
}
.footer .socials span:hover {
  opacity: 0.9;
}
.footer .socials .copyright {
  border-top: 2px solid rgba(255, 255, 255, 0.35) !important;
}

.cart .card {
  box-shadow: 0 3px 9px 0px #aaa;
}
.cart .card .card-body .card-body-col {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}
@media (min-width: 992px) {
  .cart .card .card-body .card-body-col {
    justify-content: start;
  }
}
.cart .card .card-body .card-body-col img {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.cart .card .card-body .card-body-col.col-img, .cart .card .card-body .card-body-col.col-title {
  width: 100%;
}
@media (min-width: 992px) {
  .cart .card .card-body .card-body-col.col-img, .cart .card .card-body .card-body-col.col-title {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.cart .card .card-body .del {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4444;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 1%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.8;
}
@media (min-width: 992px) {
  .cart .card .card-body .del {
    width: 15px;
    height: 15px;
    padding: 3px;
  }
}
.cart .card .card-body .del:hover {
  opacity: 1;
}
.cart .helpers .return {
  border: 1px solid #aaa;
  box-shadow: 0 1px 3px 0 #aaa;
  font-weight: 600;
  text-transform: capitalize;
}
.cart .helpers .total {
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 #aaa;
}
.cart .helpers .total .line {
  border-bottom: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .helpers .total .line h6 {
  color: #474646;
  font-weight: bold;
  text-transform: capitalize;
}

.checkout .infos label {
  color: #333;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.checkout .infos input {
  border: 1px solid black;
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.checkout .infos .form-check-input {
  background-color: #f5f5f5;
  border: 1px solid black;
  cursor: pointer;
}
.checkout .infos .form-check-input:focus {
  box-shadow: none;
}
.checkout .infos .form-check-input:checked {
  background-color: #db4444;
  border: none;
}
.checkout .payment .prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.checkout .payment .prod .prod-img {
  position: relative;
  display: flex;
  width: 5rem;
  height: 3rem;
}
.checkout .payment .prod .quantity {
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin: 0;
  font-weight: bold;
}
.checkout .payment .prod .delete {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4444;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -20%;
  left: -10%;
}
.checkout .payment .line {
  border-bottom: 2px solid #ddd;
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout .payment .line h6 {
  color: #474646;
  text-transform: capitalize;
  font-weight: 700;
}
.checkout .payment .bank .form-check-input {
  cursor: pointer;
}
.checkout .payment .bank .form-check-input:focus {
  box-shadow: none;
}
.checkout .payment .bank .form-check-label {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin-left: 0.25rem;
}
.checkout .payment .coupon {
  display: flex;
  justify-content: space-between;
}
.checkout .payment .coupon input {
  border: 1px solid #000;
  border-radius: 4px;
}
.checkout .payment .coupon input::-moz-placeholder {
  font-weight: 600;
  padding-left: 0.5rem;
}
.checkout .payment .coupon input::placeholder {
  font-weight: 600;
  padding-left: 0.5rem;
}
.checkout .payment .submit input {
  background-color: #db4444;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: 700;
}
.checkout .payment .submit input:hover {
  opacity: 0.9;
}

.wishlist .wishlist-frame .clear {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.wishlist .wishlist-frame .clear:hover {
  border: 1px solid #aaa;
}

.about .story .story-desc {
  text-align: justify;
  color: #000;
  font-family: "Poppins", sans-serif;
}
.about .swiper-wrapper {
  margin-bottom: 2rem !important;
}

.CardEmployer .card {
  width: 18rem;
  border: none;
}
.CardEmployer .card img {
  height: 18rem;
}

.register img {
  border-radius: 5px;
}
.register .form .buttons .submit,
.register .form .buttons .gg {
  font-weight: 600;
}
.register .form .buttons .submit {
  background-color: #db4444;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.register .form .buttons .gg {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.register .form .toLogin {
  color: rgba(0, 0, 0, 0.5607843137);
  font-weight: 600;
}
.register .form .toLogin a {
  color: #000;
}

.login img {
  border-radius: 5px;
}
.login .form .form-title .form-register {
  text-decoration: none;
  color: #457ca0;
}
.login .form .buttons .submit {
  background-color: #457ca0;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.login .form .buttons .forget {
  font-weight: 500;
}
.login .form .buttons .forget:hover {
  opacity: 0.8;
}
.login .form .or {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .form .or b {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  padding-bottom: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.login .form .or::before {
  content: "";
  position: absolute;
  width: calc(50% - 15px);
  height: 2px;
  background-color: #457ca0;
  left: 0%;
}
.login .form .or::after {
  content: "";
  position: absolute;
  width: calc(50% - 15px);
  height: 2px;
  background-color: #457ca0;
  right: 0%;
}
.login .form .social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .form .social .fb,
.login .form .social .google {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 4px #5b5a5a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .form .social .fb {
  background-color: #1877f2;
}
.login .form .social .google {
  background-color: #fafafa;
}

.contact {
  display: flex;
  align-items: center;
}
.contact .infoContact {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.3);
}
.contact .infoContact .phone .icon {
  background-color: #db4444;
  color: #fff;
  width: 35px;
  height: 35px;
  padding: 6px;
  border-radius: 50%;
}
.contact .infoContact .email .icon {
  background-color: #db4444;
  color: #fff;
  width: 35px;
  height: 35px;
  padding: 6px;
  border-radius: 50%;
}
.contact .form {
  font-family: "Poppins", sans-serif;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.3);
}
.contact .form .infos {
  width: 100%;
  gap: 1rem;
}
.contact .form .infos input {
  background-color: #f5f5f5;
  border: none;
  color: #111;
}
@media (min-width: 0) {
  .contact .form .infos input {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .contact .form .infos input {
    width: 33.3333333333%;
  }
}
.contact .form .infos input::-moz-placeholder {
  color: #767676;
  font-weight: 400;
}
.contact .form .infos input::placeholder {
  color: #767676;
  font-weight: 400;
}
.contact .form .infos input:focus {
  box-shadow: none;
  outline: none;
}
.contact .form .message {
  background-color: #f5f5f5;
  border: none;
  color: #000;
}
.contact .form .message:focus {
  box-shadow: none;
  outline: none;
}
.contact .form .send {
  background-color: #db4444;
  color: #fff;
  border: none;
  border-radius: 4px;
  display: flex;
  align-self: flex-end;
}/*# sourceMappingURL=style.css.map */