.footer {
  background-color: #000;
  color: #fff;
  ul {
    li {
      cursor: pointer;
      text-transform: capitalize;
      &:not(:first-of-type):hover {
        opacity: 0.85;
      }
    }
  }

  .socials {
    span {
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
    .copyright {
      border-top: 2px solid rgba(255, 255, 255, 0.35) !important;
    }
  }
}
