@use "../_variables.scss" as v;

.home {
  .aside {
    border-right: 1.5px solid #ddd;
    .aside-item {
      cursor: pointer;
      font-weight: bold;
      margin-bottom: 1rem;
      &:hover {
        opacity: 0.8;
      }
      .angle {
        right: 25%;
      }
    }
  }
}

@media (min-width: v.$breakpoint-xs) {
  .home {
    .image {
      .mySwiper {
        .swiper-slide {
          height: 220px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: v.$breakpoint-lg) {
  .home {
    .image {
      .mySwiper {
        .swiper-slide {
          height: 344px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
