@use "../mixins" as m;

.wishlist {
  .wishlist-frame {
    .clear {
      @include m.flex-center();
      border: 1px solid #aaa;
      border-radius: 4px;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        border: 1px solid #aaa;
      }
    }
  }
}
